In [ ]:
import pandas as pd

csv = pd.read_csv("daily_temperature_1000_cities_1980_2020.csv")
tempdf = pd.DataFrame(csv)
tempdf.head(25)

In [ ]:
tempdf.index = tempdf.iloc[:,0]
tempdf.drop(columns='Unnamed: 0', inplace=True)
tempdf

In [ ]:
citytemp = tempdf.T
citytemp

In [5]:
citytemp['city_code'] = citytemp.index
cityDF = citytemp.reset_index(drop=True)

In [6]:
#set columns that will not pivot
id_vars = cityDF.columns[0:12].to_list()
id_vars.append("city_code")

#pivot on Dates
city_final = cityDF.melt(id_vars=id_vars, var_name='Date', value_name = 'Temp')
city_final

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,datetime,city_code,Date,Temp
0,Tokyo,Tokyo,35.685,139.7514,Japan,JP,JPN,Tōkyō,primary,35676000.0,1392685764,0,0,1980-01-01,4.16
1,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,19354922.0,1840034016,1,1,1980-01-01,1.48
2,Mexico City,Mexico City,19.4424,-99.131,Mexico,MX,MEX,Ciudad de México,primary,19028000.0,1484247881,2,2,1980-01-01,11.35
3,Mumbai,Mumbai,19.017,72.857,India,IN,IND,Mahārāshtra,admin,18978000.0,1356226629,3,3,1980-01-01,23.4
4,São Paulo,Sao Paulo,-23.5587,-46.625,Brazil,BR,BRA,São Paulo,admin,18845000.0,1076532519,4,4,1980-01-01,17.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14883995,Yangzhou,Yangzhou,32.4,119.43,China,CN,CHN,Jiangsu,NaN,539715.0,1156818601,995,995,2020-09-30,21.05
14883996,Novokuznetsk,Novokuznetsk,53.75,87.115,Russia,RU,RUS,Kemerovskaya Oblast’,NaN,539616.0,1643628717,996,996,2020-09-30,3.41
14883997,Latakia,Latakia,35.54,35.78,Syria,SY,SYR,Al Lādhiqīyah,admin,539147.0,1760555544,997,997,2020-09-30,27.66
14883998,Heroica Matamoros,Heroica Matamoros,25.88,-97.5,Mexico,MX,MEX,Tamaulipas,minor,538785.0,1484614906,998,998,2020-09-30,24.1
14883999,Göteborg,Goteborg,57.75,12.0,Sweden,SE,SWE,Västra Götaland,admin,537797.0,1752059374,999,999,2020-09-30,12

### Temperature Change chart

In [17]:
# import plotly.graph_objects as go
import plotly.express as px

#select city to filter on
city = 'Tokyo'

#build chart
df = city_final[city_final['city'] == city]
fig = px.line(df, x="Date", y="Temp", title=f"Temperature Change in {city}")
fig.write_html('city_temp.html', auto_open=True)

### Population Change chart

In [19]:
#select city to filter on
city = 'New York'

#build chart
df = city_final[city_final['city'] == city]
fig = px.line(df, x="Date", y="population", title=f"Population Change in {city}")
fig.write_html('city_pop.html', auto_open=True)

#####################################
#no population data in this DF
#####################################

In [ ]:
ungoal = pd.read_excel("UN_DataGoal13.xlsx")
ungoal

In [28]:
greenhouse_list = ['Total greenhouse gas emissions without LULUCF for Annex I Parties (Mt CO₂ equivalent)', 
                   'Total greenhouse gas emissions without LULUCF for non-Annex I Parties (Mt CO₂ equivalent)']

greenhouse_df = ungoal[ungoal['SeriesDescription'].isin(greenhouse_list)]
greenhouse_df

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,LowerBound,BasePeriod,Source,GeoInfoUrl,FootNote,Hazard type,Location,Nature,Reporting Type,Units
10928,13,13.2,13.2.2,EN_ATM_GHGT_AIP,Total greenhouse gas emissions without LULUCF ...,36,Australia,2000,489.37384,2000,...,NaN,NaN,UNFCCC,NaN,Party included in Annex I to the Convention (U...,NaN,NaN,NaN,G,MT_CO2E
10929,13,13.2,13.2.2,EN_ATM_GHGT_AIP,Total greenhouse gas emissions without LULUCF ...,36,Australia,2001,496.98231,2001,...,NaN,NaN,UNFCCC,NaN,Party included in Annex I to the Convention (U...,NaN,NaN,NaN,G,MT_CO2E
10930,13,13.2,13.2.2,EN_ATM_GHGT_AIP,Total greenhouse gas emissions without LULUCF ...,36,Australia,2002,500.80789,2002,...,NaN,NaN,UNFCCC,NaN,Party included in Annex I to the Convention (U...,NaN,NaN,NaN,G,MT_CO2E
10931,13,13.2,13.2.2,EN_ATM_GHGT_AIP,Total greenhouse gas emissions without LULUCF ...,36,Australia,2003,502.30178,2003,...,NaN,NaN,UNFCCC,NaN,Party included in Annex I to the Convention (U...,NaN,NaN,NaN,G,MT_CO2E
10932,13,13.2,13.2.2,EN_ATM_GHGT_AIP,Total greenhouse gas emissions without LULUCF ...,36,Australia,2004,520.31518,2004,...,NaN,NaN,UNFCCC,NaN,Party included in Annex I to the Convention (U...,NaN,NaN,NaN,G,MT_CO2E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12283,13,13.2,13.2.2,EN_ATM_GHGT_NAIP,Total greenhouse gas emissions without LULUCF ...,860,Uzbekistan,2012,205.26993,2012,...,NaN,NaN,UNFCCC,NaN,Party not included in Annex I to the Conventio...,NaN,NaN,NaN,G,MT_CO2E
12284,13,13.2,13.2.2,EN_ATM_GHGT_NAIP,Total greenhouse gas emissions without LULUCF ...,887,Yemen,2000,25.74209,2000,...,NaN,NaN,UNFCCC,NaN,Party not included in Annex I to the Conventio...,NaN,NaN,NaN,G,MT_CO2E
12285,13,13.2,13.2.2,EN_ATM_GHGT_NAIP,Total greenhouse gas emissions without LULUCF ...,887,Yemen,2010,34.13925,2010,...,NaN,NaN,UNFCCC,NaN,Party not included in Annex I to the Conventio...,NaN,NaN,NaN,G,MT_CO2E
12286,13,13.2,13.2.2,EN_ATM_GHGT_NAIP,Total greenhouse gas emissions without LULUCF ...,887,Yemen,2012,37.94287,2012,...,NaN,NaN,UNFCCC,NaN,Party not included in Annex I to the Conventio...,NaN,NaN,NaN,G,MT_CO2E
12287,13,13.2,13.2.2,EN_ATM_GHGT_NAIP,Total greenhouse gas emissions without LULUCF ...,894,Zambia,2000,14.40470,2000,...,NaN,NaN,UNFCCC,NaN,Party not included in Annex I to the Conventio...,NaN,NaN,NaN,G,MT_CO2E

In [29]:
greenhouse_df.columns.to_list()

['Goal',
 'Target',
 'Indicator',
 'SeriesCode',
 'SeriesDescription',
 'GeoAreaCode',
 'GeoAreaName',
 'TimePeriod',
 'Value',
 'Time_Detail',
 'TimeCoverage',
 'UpperBound',
 'LowerBound',
 'BasePeriod',
 'Source',
 'GeoInfoUrl',
 'FootNote',
 'Hazard type',
 'Location',
 'Nature',
 'Reporting Type',
 'Units']

In [40]:
greenhouse_df[['GeoAreaName','Value','TimePeriod','Time_Detail', 'Units']]

      GeoAreaName      Value  TimePeriod Time_Detail    Units
10928   Australia  489.37384        2000        2000  MT_CO2E
10929   Australia  496.98231        2001        2001  MT_CO2E
10930   Australia  500.80789        2002        2002  MT_CO2E
10931   Australia  502.30178        2003        2003  MT_CO2E
10932   Australia  520.31518        2004        2004  MT_CO2E
...           ...        ...         ...         ...      ...
12283  Uzbekistan  205.26993        2012        2012  MT_CO2E
12284       Yemen   25.74209        2000        2000  MT_CO2E
12285       Yemen   34.13925        2010        2010  MT_CO2E
12286       Yemen   37.94287        2012        2012  MT_CO2E
12287      Zambia   14.40470        2000        2000  MT_CO2E

[1360 rows x 5 columns]

### MT CO2E Change Chart

In [42]:
#select country to filter on
country = 'Australia'

#build chart
df = greenhouse_df[greenhouse_df['GeoAreaName'] == country]
fig = px.line(df, x="TimePeriod", y="Value", title=f"MT CO2E Change in {country}")
fig.write_html('country_MTCO2E.html', auto_open=True)